<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}TN Bus Lost Luggage{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" />
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="app-shell">
      <header>
        <h1>{% block header %}TN Bus Lost Luggage{% endblock %}</h1>
        {% block header_actions %}{% endblock %}
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
    </div>
    {% block extra_js %}{% endblock %}
  </body>
</html>
